<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- This is a placeholder file to satisfy Flutter's Android embedding v2 check -->
    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>